body {
    background-color: #8ec3eb;
    text-align: center;
    font-family: "Helvetica Neue";
  }

.textbox {
    border: 3px dotted #2a6592;
    max-width: 1000px;
    margin: auto;
    padding:10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: center;
}

.box{
    width: 350px;
    height: 350px;
    background-color: #2a6592;
    border: 2px solid #2a6592;
}

.sun:hover {
    fill: white;
    border-color: white;
}
  
.btn { 
    border: 2px solid #2a6592;
    background-color: #8ec3eb;
    font-size: 13px;
}

.doc {
    display: none;
}

.bird{
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

